table {
  border-collapse: collapse;
  border-spacing: 0;
}
#game {
  margin: 50px auto;
}
#board {
  width: 300px;
  margin: auto;
  table-layout: fixed;
}
td {
  text-align: center;
  height: 100px;
  vertical-align: middle;
}
tr:nth-child(2) {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
td:nth-child(even) {
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.winner {
  margin: 40px auto;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  font-family: arial;
}
.win-square {
  color: red;
}
td:hover{
  background-color: #ddd;
}
.again{
  margin: 20px auto;
  padding: 4px;
  font-size: .8em;
  width: 110px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
}
.again:hover {
  background-color: #ddd;
}