table {
  border-collapse: collapse;
  border-spacing: 0;
}
#game {
  margin: 50px auto;
}
#board {
  width: 300px;
  margin: auto;
  table-layout: fixed;
}
td {
  text-align: center;
  height: 100px;
  vertical-align: middle;
}
tr:nth-child(2) {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}
td:nth-child(even) {
  border-right: 3px solid black;
  border-left: 3px solid black;
}
.message {
  margin: 40px auto;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
  font-family: arial;
}

td:hover{
  background-color: #DDD;
}
.occupied:hover, td.over:hover{
  background-color: #FFF;
}
.again{
  margin: 20px auto;
  padding: 4px;
  font-size: .8em;
  width: 110px;
  border: 2px solid ;
  border-radius: 8px;
  cursor: pointer;
}
.again:hover {
  background-color: #ddd;
}
i {
  text-shadow: 3px 3px 7px #666;
}
/*.player {
  color: #2C3D2B;
}*/
/*.master {*/
  /*color: #382E2A;*/
/*}*/
.win-square {
  color: #DB0E00;
}